

svg {
    touch-action: none;
    }

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(83, 223, 188); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    .line1 {
      width: 35px;
      height: 5px;
      background-color: white;
      padding-left: 5px;
      margin: 6px 0 0px 2px;
    }
  
    .menu {
      margin: 25px;
    }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

 .container-1 {

  color: white;
  font-size: 20px; 
  font-weight: bolder;
  margin: 0 auto;
  padding: 10px;
  width: 95%;
  text-align: justify;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  font-family: Raleway;
  flex-wrap: wrap;
    }

    @media screen and (max-height: 450px) {
      .container-1 {padding-top: 15px;}
      .container-1 {font-size: 15px;}
      }

.container-2 {
  color: white;
  font-size: 20px; 
  font-weight: bolder;
  margin: 0;
  padding: 0px;
  width: 95%;
  text-align: justify;
  position: absolute;
  top: 145%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  font-family: Raleway;
  flex-wrap: wrap;
   }
  
   @media screen and (max-height: 450px) {
    .container-2 {padding-top: 5px;}
    .container-2 {font-size: 18px;}
    }

.image-container {
    display:flex;
    background-size: auto;
    position: relative;
    height: 500px;
    flex-wrap: wrap;
    }

  .parallax {
    background-image: url("./images/yoga-at-lembah-spa-1.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    }
    
  .parallax-2 {
    background-image: url("./images/Yoga-escape.jpeg");
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    }

  .header-text1 {
    
    color: white;
    font-size: 50px; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    flex-wrap: wrap;
    }

#button-map {
        border: none;
        background-color: inherit;
        padding: 20px 50px;
        font-size: 25px;
        cursor: pointer;
        font-family: Raleway;
        text-align: center;
        justify-content:center;
        color: black;
        background-color: rgb(57, 204, 147);
        text-decoration: none;
        position:fixed;
        margin: 2px 2px;
        border-radius: 16px;
        flex-wrap: wrap;
        
        }
       /* On mouse-over */
#button-map:hover {
    background: rgba(92, 219, 217, 0.205);
    }


/* Slides */
.quote {
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  word-spacing: 8px;
  flex-wrap: wrap;
}

#img-container {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  padding-top: 10px;
}

div.gallery-card {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align:center;
  font-family: Raleway;
  width: 100%;
  height: auto;
  padding-left: 4px;
  padding-right: 4px;
}

div.gallery-card:hover {
  border: 3px solid #777
}

div.gallery-card img {
  width: 100%;
  height: auto;
}

.responsive {
  padding: 0 0px;
  float: left;
  width: 32%;
}


/*Responsive design */
@media only screen and (max-width: 768px) {
  .responsive {
      width: 49.9999%;
  }  
}

@media only screen and (max-width: 500px) {
  .responsive {
      width: 100%;
      margin: 6px 0;
  }  
}

.title {
  color: black;
  font-weight: bolder;
  flex-wrap: wrap;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(57, 204, 147);
  text-align: center;
  cursor: pointer;
  width: 100%;
  flex-wrap: wrap;
}

.button:hover {
  background-color: #555;
}

.footer {
  padding:5%;
  font-family: Raleway;
  color:#395810;
}