

svg {
    touch-action: none;
    }

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(153, 237, 207); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

#btn-menu {
    color: white;
    font-weight: bolder;
    width: 305px;
    height: 305px;
    font-size: 40px;
    margin: 10px 0;
    font-family: Raleway;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    cursor: pointer;
    }
    #btn-menu:hover {
    background: rgba(3, 0, 0, 0.205);
    }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

 .container-1 {

  color: #dff5eb;
  font-size: 20px; 
  font-weight: bolder;
  margin: 0 auto;
  padding: 10px;
  width: 95%;
  text-align: justify;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  font-family: Raleway;
    }

.container-2 {
  color: #dff5eb;
  font-size: 20px; 
  font-weight: bolder;
  margin: 0 auto;
  padding: 10px;
  width: 95%;
  text-align: justify;
  position: absolute;
  top: 165%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  font-family: Raleway;
   }
  
 .container-3 {
    color: #dff5eb;
    font-size: 20px; 
    font-weight: bolder;
    margin: 0 auto;
    padding: 10px;
    width: 95%;
    text-align: justify;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    font-family: Raleway;
     }

.responsive {
    padding: 0 0px;
    float: left;
    }

.image-container {
    display:flex;
    background-size: auto;
    position: relative;
    height: 500px;
    }

  .parallax {
    background-image: url("./images/yoga-at-lembah-spa-1.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

  .parallax-2 {
    background-image: url("./images/Yoga-escape.jpeg");
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

  .parallax-3 {
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

  .header-text1 {
    
    color: #18a860;
    font-size: 50px; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    }

  .header-text2 {
    color: #18a860;
    font-size: 40px; 
    font-weight: bolder;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
      }

  .header-text3 {
      color: #18a860;
      font-size: 50px; 
      font-weight: bold;
      margin: 0 auto;
      padding: 10px;
      width: 50%;
      text-align: center;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: screen;
    
        }
  .header-text4 {
    color: #08120d;
    font-size: 30px; 
    font-family: Raleway;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    top: 210%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    }


#button-map {
        border: none;
        background-color: inherit;
        padding: 20px 10px;
        font-size: 25px;
        cursor: pointer;
        font-family: Raleway;
        text-align: center;
        justify-content:center;
        color:#395810;
        background-color: rgb(114, 223, 136);
        text-decoration: none;
        display:flex;
        margin: 2px 2px;
        border-radius: 16px;
        }
       /* On mouse-over */
#button-map:hover {
    background: rgba(92, 219, 217, 0.205);
    }


/* Slides */
.quote {
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  word-spacing: 8px;
}
/* Three columns side by side */
.column {
  float: left;
  width: 32.9%;
  margin-top: 5px;
  margin-bottom: 16px;
  padding: 0 3px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    height: 400px;
    display: flex;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 190px;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 10px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  height: 150px;
}
.title {
  color: rgb(24, 96, 38);
  font-weight: bolder;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(114, 223, 136);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.footer {
  padding:25%;
  font-family: Raleway;
  color:#395810;
}