.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(83, 223, 188); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .line1 {
    width: 35px;
    height: 5px;
    background-color: grey;
    padding-left: 5px;
    margin: 6px 0 0px 2px;
  }

  .menu {
    margin: 25px;
  }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }






/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgb(238, 238, 238);
  color: rgb(60, 212, 174);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: rgb(9, 161, 154);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  color: rgb(4, 105, 83);
  font-family: Raleway;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  margin-top: 50px;
  margin-bottom: 50px;

  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/*style the page to be the same as main page */
.intro {
  color: #dff5eb;
  font-size: 20px;
  font-weight: bolder;
  margin: 0 auto;
  padding: 10px;
  width: 95%;
  text-align: justify;
  position: absolute, fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  font-family: Raleway;
}

.table,
th,
td {
  border: 1px solid black;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.Titles {
  color: rgb(4, 105, 83);
  font-family: Raleway;
  font-size: 30px;
  margin: 10;
}

.footer {
  padding:5%;
  font-family: Raleway;
  color:#395810;
}
