.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(83, 223, 188); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    .line1 {
      width: 35px;
      height: 5px;
      background-color: grey;
      padding-left: 0px;
      margin: 6px 0 0px 2px;
    }
  
    .menu {
      margin-left: 25px;
      margin-top: 15px;
    }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

  .container {
    padding: 1px;
    height: 1px;
  }

/* header */
header {
    background-image: url(../images/background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 200px;
    text-align: center;
}
h1 {
    font-family: Staatliches;
    font-size: 120px;
    color: #fff;
    text-decoration: underline;
    text-decoration-style:dashed;
    text-decoration-color: #02fcda;
    text-decoration-thickness: 8px;
    text-underline-offset: 15px;
}

.about{
    background-color: #fff;
    font-family: Staatliches;
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    margin:10px;
    padding: 50px 80px;
}

.box {
    background-image: url(../images/img5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 200px;
    text-align: center;
}

.box1 {
    background-image: url(../images/img6.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 200px;
    text-align: center;
}



#img-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
}

.grid {
    display:grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(150px, 1fr));

}

/* gallery */
.gallery {
    align-items:stretch;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}
 
.gallery:hover {
    border: 1px solid #777;
}
  
.gallery img {
    width: 100%;
    height: auto;
}
  
.desc {
    padding: 15px;
    text-align: center;
}

.container {
    background-color: white;
    position: relative;
    width: 100%;
  }
#tuscanytext{
    text-align: center;
    text-decoration-color: azure;
    font-size: 35px;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
.container:hover .image {
    opacity: 0.7;
  }
  
.container:hover .middle {
    opacity: 1;
  }
  
.text {
    text-align: center;
    background-color: #ffffff;
    color: rgba(5, 0, 0, 0.795);
    font-size: 30px;
    padding: 50px 50px;
    margin: 20px;
    opacity: 1;
  }

#gallerytext{
    text-align: center;
}
#gallerytext:hover{
    font-size: 35px;
}

.footer {
  padding:5%;
  font-family: Raleway;
  color:#395810;
}